/*------------------------------------Services {Home,Index} page Design-----------------------
-------------------------------------------------------------------------------------------------*/
#services {
    background-image: linear-gradient(to right, #dedffe68, #7691eb9d);
    overflow: hidden;
}
.services-title {
    font-size: 4rem;
}
.services-desc {
    font-size: 1.8rem;
}

/* .business-card {
    margin-top: 100px !important;
} */
.card-body img {
    height: 10rem;
    width: 100%;
}
.product-card {
    text-wrap: nowrap;
    overflow: hidden;
}

/*----------------------------------------MEDIA QUERIES-------------------------------------------
-------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 590px) {
    .services-title {
        font-size: 2rem !important;
    }
    .services-desc {
        font-size: 0.6rem !important;
    }
}
@media screen and (max-width: 768px) {
    .services-title {
        font-size: 3rem;
    }
    .services-desc {
        font-size: 1rem;
    }
    .product-card {
        width: 130px;
    }
}
